<div class="lightbox">
    <div class="lightbox_gallery">
        <button class="close_lightbox_btn" (click)="closeLightbox()">
            <svg width="14" height="15" xmlns="http://www.w3.org/2000/svg"><path d="m11.596.782 2.122 2.122L9.12 7.499l4.597 4.597-2.122 2.122L7 9.62l-4.595 4.597-2.122-2.122L4.878 7.5.282 2.904 2.404.782l4.595 4.596L11.596.782Z" fill="#69707D" fill-rule="evenodd"/></svg>
        </button>
        <button class="prev_btn" (click)="handleImageNavigation(-1)">
            <svg width="12" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M11 1 3 9l8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd"/></svg>
        </button>
        <button class="next_btn" (click)="handleImageNavigation(1)">
            <svg width="13" height="18" xmlns="http://www.w3.org/2000/svg"><path d="m2 1 8 8-8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd"/></svg>
        </button>
        <img class="selected_image" [src]="selectedImg" alt="">
        <div class="images_thumbnails">
            <div class="images_thumbnails_container"
                *ngFor="let image of imagesThumbnails"
                [class.selected]="image.replace('-thumbnail', '') === selectedImg"
            >
                <img
                    (click)="handleSelectedImage(image)"
                    [src]="image"
                    alt=""
                >
            </div>
        </div>
    </div>
</div>
<div class="overlay"></div>
