$bg-body: hsl(0, 0%, 100%);
$bg-quantity-btns: hsl(230, 60%, 98%);
$bg-add-to-cart: hsl(26, 100%, 55%);
$color-third-lighter: hsl(27, 100%, 71%);
$bg-discount: #ffe6cc;
$bg-lightbox: hsla(0, 0%, 0%, .75);
$color-primary: hsl(228, 2%, 47%);
$color-secondary: hsl(225, 10%, 16%);
$color-third: hsl(26, 100%, 55%);
$color-nav-link-hover: hsl(225, 10%, 16%);
$font-family: 'Kumbh Sans', sans-serif;